{% extends 'main/ads_list.html' %}
{% load static %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style>
    #map {
  height: 100%;
}
</style>
{% endblock %}

 {% block content1 %}
<div id="map"></div>


        <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACf9mNWhnS186h7DJ_PYkkti66mNeoGLA&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>

<script>
 function initMap() {
  const myLatLng = { lat: -25.363, lng: 131.044 };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 10,
    center: myLatLng,
  });

  new google.maps.Marker({
    position: myLatLng,
    map,
    title: "Hello World!",
  });
}

window.initMap = initMap;
</script>
<main>

<!--  <section class="py-5 text-center container">-->
<!--    <div class="row py-lg-5">-->
<!--      <div class="col-lg-6 col-md-8 mx-auto">-->
<!--        <p>-->
<!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      </div>
  </div>
</main>



<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
<script src="{% static 'main/css/assets/dist/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block content2 %}
<main>

<!--  <section class="py-5 text-center container">-->
<!--    <div class="row py-lg-5">-->
<!--      <div class="col-lg-6 col-md-8 mx-auto">-->
<!--        <p>-->
<!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <div class="album py-5 bg-body-tertiary" style="padding-top:0px!important">
    <div class="container">
        <h3>{{ obj.slug }}</h3>
        {% for i in obj %}
            {% for j in i.addr %}
                {{ j.city }}
                {{ j.state }}
            {% endfor %}
        {% endfor %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
        {% for i in object_list %}
          <div class="col">
            <div class="card shadow-sm">
<!--              <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
<!--                   xmlns="http://www.w3.org/2000/svg" role="img"-->
<!--                   aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">-->
                    {% for j in i.img %}
                        <img src="{{ j.images.url }}" height="225" alt="{{ i.property.location }}"/>
                    {% endfor %}

<!--                <title>{{ i.title }}</title>-->
<!--                <rect width="100%" height="100%" fill="#55595c"/>-->
<!--                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
<!--              </svg>-->
              <div class="card-body">
                  {% for j in i.info %}
                    <h4>${{ i.price }}/mo {{ j.bedrooms }}</h4>
                  {% endfor %}
<!--                  <h4>${{ i.price }}/mo {{ i.bedrooms }}</h4>-->
                <p class="card-text">
                    {% for j in i.addr %}
                        {{ i.title }} | {{ j.address }},
                        {% if j.area %}
                            {{ j.area }},
                        {% elif j.neighborhood %}
                            {{ j.neighborhood }},
                        {% endif %}
                        {{ j.city }}, {{ j.state }}
                    {% endfor %}
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">{{ i.property.time_update }}</small>
                </div>
              </div>
            </div>
          </div>

<!--              image: <img src="{{ i.image.url }}" alt="{{ i.property.location }}"/>-->
<!--              location: {{ i.property.location }}-->
<!--              city: {{ i.property.city }}-->
<!--              property_type: {{ i.property.property_type }}-->
<!--              apartment_unit: {{ i.apartment_unit }}-->
<!--              postal_code: {{ i.property.postal_code }}-->

        {% endfor %}

        </div>
<!--          {{ object_list.query.where }}-->
<!--          <nav class="py-5 text-center container">-->
<!--            <ul>-->
<!--              {% for p in paginator.page_range %}-->
<!--                <a href="{url '?q=New+York%2C+NY' }">{{ p }}</a>-->
<!--              {%endfor%}-->
<!--            </ul>-->
<!--          </nav>-->

            <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

      </div>
  </div>



</main>
{% endblock %}
