{% extends 'main/base.html' %}

{% block content %}

  <form action="" method="post" class="d-flex">
      {% csrf_token %}
      <ul>
      <h3>Enter your email adress</h3>
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}

          <p>{{ form.email }}</p>
          <button type="submit" class="btn btn-primary w-100 py-2">Reset password</button>
<!--          <input type="submit" class="btn btn-outline-success" value="Reset password">-->

      </ul>
  </form>
{% endblock %}